.about {
  section {
    @include outer-container;
    @include padding(3em 2em 3em 2em);
    h2 {
      @include sans('s-headline');
      margin-bottom: 2 * $small-spacing;
    }
    a {
      text-decoration: underline;
    }
    ul {
      margin-bottom: 2 * $small-spacing;
      li {
        list-style-type: disc;
        margin-left: 1.5 * $small-spacing;
      }
    }
    .more-info {
      border-top: 1px solid $lightest-gray;
      margin-top: 2em;
      padding-top: 2em;
    }
  }
}
