footer {
  background-color: $black;
  color: $white;
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: $white;
    }
  }
  .links {
    border-top: 1px solid $dark-gray;
    ul {
      margin-bottom: 2 * $small-spacing;
    }
  }
  .item {
    @include outer-container;
    @include padding(3em 1em 2em 1em);
    h3 {
      @include sans('headline');
    }
    p {
      @include sans('l-body');
    }
  }
  .name {
    .item {
      @include padding(0 1em 3em 1em);
    }
    a {
      color: $white;
      text-decoration: none;
    }
    @include sans('s-headline');
  }
  .subscribe-form {
    background-color: $white;
    display: block;
    margin-bottom: 2 * $small-spacing;
    overflow-x: hidden;
    overflow-y: hidden;
    position: static;
  }
  form {
    position: relative;
    input[type="email"] {
      display: inline-block;
      border: 0 solid transparent;
      font-size: 15px;
      float: left;
      height: 36px;
      margin-bottom: 0;
      position: relative;
      width: 85%;
    }
    input[type="submit"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: $dark-gray;
      border: none;
      clear: both;
      color: $white;
      display: inline-block;
      height: 36px;
      padding-right: 15px;
      padding-left: 15px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      float: right;
    }
  }
}
