.index {
  .collections {
    @include row();
    padding: 1em 2em 0.5em;

    .collections__item {
      padding: 0 0 0.5em;
      position: relative;
      .collections__item__label {
        position: absolute;
        padding: 0;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 5em;
        color: $white;
      }
      img {
        width: 100%;
      }
      h3 {
        @include sans('l-headline');
        margin: 0;
        padding: 0;
      }
    }
  }
}
