header {
  @include padding(2em 2em 1em 2em);
  @include clearfix();

  .name {
    float: left;
    font-size: 2em;
    line-height: 30px;
  }

  .nav {
    float: right;
    font-size: 1.25em;
    line-height: 30px;
  }
}
