html, body {
  @include padding(0 0 0 0);
  @include margin(0 0 0 0);
}

header {
  @include padding(1em 1em 0 1em);
  font-family: $sans-serif-medium;
  text-align: left;
  width: 100%;

  a {
    border-bottom: 1px solid transparent;
    color: $black;

    &.active-nav-item {
      border-bottom: 1px solid $black;
    }

    &:hover {
      border-bottom: 1px solid $black;
      color: $black;
    }
  }

  .name {
    font-size: 2em;

    a {
      border-bottom: none;
    }
  }

  .nav {
    color: $gray;
    font-size: 1em;
    text-transform: uppercase;

    span {
      padding: 0 0.5em;
    }
    em {
      font-style: normal;
    }
  }
}
