.products {
  .collection__images {
    position: relative;
    .collection__images__lede {
      padding: 0;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      bottom: 5em;
      color: $white;
      h3 {
        @include sans('xl-headline');
      }
      h4 {
        @include sans('l-headline');
      }
    }
  }

  section {
    @include padding(1em 2em 1em 2em);

    .collection__meta {
      border-top: $base-border;
      padding: 1em 0 2em;

      &:first-child {
        border-top: 1px solid transparent;
        padding-bottom: 0;
        padding-top: 1em;
      }

      .collection__meta__context-image {
        @include span-columns(2);
      }
      .collection__meta__description {
        @include span-columns(8);
        p {
          @include sans('xl-body');
        }
      }
      .collection__meta__fabrication {
        @include span-columns(6);
      }
      .collection__meta__sizing {
        @include span-columns(6);
      }
    }

    .studio__images {
      border-top: $base-border;
    }

    .product {
      padding: 2em 0;
      .product__title {
        @include span-columns(3);
        span {
          @include sans('l-body');
        }
      }
      .product__images {
        @include span-columns(5);
        img {
          float: left;
          margin: 0 1em 1em 0;
          width: 180px;
        }
      }
      .product__variants {
        @include span-columns(4);
        .product__variants__variant {
          &:first-child {
            border-top: 1px solid transparent;
            padding-top: 0;
          }
          .product__variants__variant__meta {
          }
          .product__variants__variant__form {
          }
        }
      }
    }
  }
}
