.shipping {
  section {
    @include outer-container;
    @include padding(3em 1em 3em 1em);
    h2 {
      @include sans('s-headline');
      margin-bottom: 2 * $small-spacing;
    }
    p, ul, li {
    }
    ul {
      margin-bottom: 2 * $small-spacing;
      li {
        list-style-type: disc;
        margin-left: 1.5 * $small-spacing;
      }
    }
  }
}
