@mixin sans($size) {
  @if $size == 'xxl-headline' {
    @include headline();
    font-size: 3 * $base-font-size;
  } @else if $size == 'xl-headline' {
    @include headline();
    font-size: 2 * $base-font-size;
  } @else if $size == 'l-headline' {
    @include headline();
    font-size: 1.75 * $base-font-size;
  } @else if $size == 'headline' {
    @include headline();
    font-size: 1.5 * $base-font-size;
  } @else if $size == 's-headline' {
    @include headline();
    font-size: 1.25 * $base-font-size;
  } @else if $size == 'xxl-body' {
    font-size: 1.75 * $base-font-size;
  } @else if $size == 'xl-body' {
    font-size: 1.5 * $base-font-size;
  } @else if $size == 'l-body' {
    font-size: 1.15 * $base-font-size;
  } @else if $size == 'body' {
    font-size: $base-font-size;
  } @else if $size == 's-body' {
    font-size: 0.9 * $base-font-size;
  } @else {
    font-size: $size;
  }
}

@mixin headline() {
  font-family: $sans-serif-semibold;
}
