@mixin sans($size) {
  @if $size == 'xxl-headline' {
    @include headline();
  } @else if $size == 'xl-headline' {
    @include headline();
  } @else if $size == 'l-headline' {
    @include headline();
  } @else if $size == 'headline' {
    @include headline();
  } @else if $size == 's-headline' {
    @include headline();
  }
  @include font-size($size);
}

@mixin serif($size) {
  @include font-size($size);
  font-family: $serif-regular;
}

@mixin headline() {
  font-family: $sans-serif-medium;
}

@mixin font-size($size) {
  @if $size == 'xxl-headline' {
    font-size: 3 * $base-font-size;
  } @else if $size == 'xl-headline' {
    font-size: 2 * $base-font-size;
  } @else if $size == 'l-headline' {
    font-size: 1.75 * $base-font-size;
  } @else if $size == 'headline' {
    font-size: 1.5 * $base-font-size;
  } @else if $size == 's-headline' {
    font-size: 1.25 * $base-font-size;
  } @else if $size == 'xxl-body' {
    font-size: 1.75 * $base-font-size;
  } @else if $size == 'xl-body' {
    font-size: 1.5 * $base-font-size;
  } @else if $size == 'l-body' {
    font-size: 1.15 * $base-font-size;
  } @else if $size == 'body' {
    font-size: $base-font-size;
  } @else if $size == 's-body' {
    font-size: 0.9 * $base-font-size;
  } @else {
    font-size: $size;
  }
}

@mixin gradient-background($start-color, $end-color, $fallback-color, $direction: '') {
  @if $direction == 'left-to-right' {
    background: $fallback-color;
    background: -webkit-linear-gradient(left, $start-color , $end-color);
    background: -o-linear-gradient(right, $start-color, $end-color);
    background: -moz-linear-gradient(right, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: $fallback-color;
    background: -webkit-linear-gradient($start-color , $end-color);
    background: -o-linear-gradient($start-color, $end-color);
    background: -moz-linear-gradient($start-color, $end-color);
    background: linear-gradient($start-color, $end-color);
  }
}
