---
title: 404 Error - URL Not Found
---

%section
  %h2 Sorry, the page you were looking for doesn't exist at this URL.
  %p
    Please contact <a href="mailto:support@dispatch.es">support@dispatch.es</a> with any questions or #{link_to 'head to the homepage', '/'}.
