---
title: About
---

%section
  %h2 Who/What/Where/When/Why/How
  %p Founded by <a href="http://www.dylanfareed.com">Dylan Fareed</a> in 2015, Dispatches is a multi-disciplinary product design practice in New York City.
  %p Our mission is is to organize the world's information and make it universally accessible and useful. Short of that, we aim to prototype, manufacture and sell four physical products in a variety of materials each year.
  %p The first Dispatches product is <a href='/'>the Tybee Jump Rope</a>, a beautiful and understated jump rope Dylan Fareed initially designed with Hunter Craighill at <a href='http://www.genmfg.co/'>GENMFGCO</a> in 2013. We are working towards another new product release in January 2016 with additional items every three months thereafter.
  %p We work closely with a handful of American manufacturers to produce objects that uniquely combine utility, handsomness, and durablity.
  %p We make things that we hope will grow old with you.
  .more-info
    %p Questions/comments/support? Have a read through our <a href='/shipping'>shipping policies</a> or email us at <a href='mailto:support@dispatch.es'>support@dispatch.es</a>.
