---
title: Projects
---

.collections
  - data.catalog.collections.each do |collection|
    .collections__item
      %a{ href: "/products/#{collection.handle}" }
        %img{ src: large_thumb(collection.image) }
        .collections__item__label
          %h3= collection.name
