---
title: Shipping
---

%section
  %h2 Shipping policies

  :markdown
    SHIPPING & DELIVERY

    * Dispatch.es ships to customers in the United States, Canada and Mexico (we may broaden our shipping regions. Drop us a line if you would like us to ship to your country). All orders are shipped with delivery confirmation. You may select your preferred shipping method during checkout. Domestic orders may be shipped via “UPS Ground”, “UPS Second Day Air”, or “UPS Three-Day Select.” Orders shipped to Mexico or Canada are shipped “UPS Standard.”
    * Shipping fees are not refundable under any circumstance.
    * All orders are shipped in the order they are received Monday – Friday. Please allow up to 3 business days for orders to ship after they are received.
    * Dispatch.es will send you a tracking # as provided by the shipping carrier, as your order ships. Please allow at least 12 hours for the UPS website to update before seeking tracking reports.
    * Once an order ships from Dispatch.es, tracking is expressly the customer’s responsibility. We do not track packages nor do we have access to any additional information regarding a parcel’s location other than the UPS tracking number you are provided with as a parcel ships.
    * The rate charged for the shipping of your order is based on the weight of your products, and your location. You will be shown shipping charge options on the billing info checkout page prior to completing your order.

    RETURNS & REPLACEMENTS

    * Merchandise that has been worn, used, or altered will not be accepted for return or exchange.
    * Returns will be accepted only if the return is sent within thirty (30) days of the delivery confirmation date.
    * If your item is in like new condition, you may exchange your item for a different finish or product. If additional costs apply for a price difference you will be contacted for your information, as we do not retain credit card information from our customers.
    * A full refund of the purchase price, excluding the shipping, will be made promptly upon receiving the merchandise in the same condition in which it was shipped.
    * There are no refunds on items damaged in shipping. In that case, you must file a claim with the carrier.
    * All packages are to be fully insured. You must notify us of any return so that we will be expecting your package. Returns that are sent without our prior knowledge will be refused.
    * We do not refund shipping costs or credit card fees. They will be deducted from the total amount of your refund.

    HOW TO RETURN AN ITEM:

    * Your item must be in its original unused condition to be returned, unless there is a manufacturer defect. You must return the item within 30 days of receiving your purchase.
    * Please email support@dispatch.es to request a refund or exchange prior to mailing your returned item. We cannot honor items returned without notice.
    * Please specify your intentions for returns/exchanges/refunds with your return

    Mail your returned item to:

    Dispatches<br />
    111 N 3rd Street<br />
    Suite 2E<br />
    Brooklyn, NY 11249
